<p style="font-size: 200%" *ngIf="loading">Đang tải dữ liệu ...</p>
<p-progessBar
  mode = "indeterminate"
  [style] = "{ height: '6px' }"
  *ngIf = "loading">
</p-progessBar>
<div class="card" *ngIf="!loading">
  <p-toolbar styleClass = "p-mb-4">
    <ng-template pTemplate="left">
      <p-dropdown
        [options] = "restaurants"
        [(ngModel)] = "selectedRestaurant"
        optionLabel = "name"
        [filter] = "true"
        filterBy = "name"
        placeholder = "Chọn nhà hàng"
        [style] = "{ width: '400px' }"
        (onChange)="onRestaurantChange($event, value)">
        <ng-template pTemplate="selectedItem">
          <div
            class = "restaurant-item restaurant-item-value"
            *ngIf = "selectedRestaurant">
            <div>{{ selectedRestaurant.name }}</div>
          </div>
        </ng-template>
        <ng-template let-restaurant pTemplate="item">
          <div class="restaurant-item">
            <div>{{ restaurant?.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </ng-template>
  </p-toolbar>
</div>
